#user-list {
    padding: 0;
    display: grid;
    grid-gap: 10px 40px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
}

#user-list > li {
    list-style: none;
    padding:10px;
    width: 100%;
    background: #fbfbfb;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    margin: 0 10px 20px;
}

#user-list > li img {
    vertical-align: middle;
    border-radius: 50%;
    transition: transform 0.5s, box-shadow 0.3s, border 0.4s;
    margin: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 80px;
}

#user-list > li div {
    display: inline-block;
    vertical-align: middle;
}

#user-list > li span.name {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom:5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#user-list > li span {
    clear: both;
    display: block;
    padding: 0.1rem 0.2rem;
    font-size: 1rem;
}

#user-list a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: 600;
    color: #1a8865;
 }

 .action {
    border-bottom:  1px solid #1a8865;
 }

.no-results {
    text-align: center;
    font-weight: 600;
    background-color: #ececec93;
    padding: 20px;
}

@media (max-width: 510px) {
    #user-list {
        display: inline;
    }

    #user-list > li {
        padding:10px;
        margin: 0 ;
    }
    
  }