.search-flex{
    background: #1a8865;
}

form {
    display: flex;
    line-height: 1.2em;
    margin: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

input {

    border: 0;
    font: inherit;
    padding: 10px;
    width: 500px;

}

.form-submit {
    background-color: #819090;
    color: #ffff;
    border: #1a8865;
    width: 100px;
    font-weight: 600;
    line-height:initial;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #9db8b8;
    color: #ffff;
    border: #1a8865;
    width: 100px
}