body {
  background-color: rgba(228, 228, 228, 0.445);
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  padding: 2em;
}

.col-left {
  float: left;
  width: 20%;
}
.col-right {
  float: right;
  width: 75%;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.number {
  font-weight: 500;
  font-size: 20px;
  color: #1a8865;
}

.stat-text {
  margin-top: -25px;
  color: #1a8865;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.loading-img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .col-left,
  .col-right {
    float: none;
    width: 100%;
  }
}

@media (max-width: 510px) {
  .stats {
    margin-top: 0;
    flex-direction: column;
  }
}
