
  /* Profile sidebar */
.profile-sidebar {
    padding: 10px ;
    background: #fff;
  }
  
.profile-img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  margin: 0 auto;
  width: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;  
  }
  
  .profile-user {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .profile-bio h5{
    color: #666B7D;
    margin-bottom: 5px;
  }
  
  .profile-bio span{
    color: #666B7D;
  }
