.repo-view {
    display: flex; 
    flex-direction: column;
    width: 100%;
    background: #fbfbfb;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    margin: 0 10px 20px;
}

.back-nav {
    font-weight: 500;
    cursor: pointer;
}

.repo-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    display: block;
}

.repo-language {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 0 20px;
    display: block;
}

.repo-language::before {
    content: "| ";
    color: #386696;
}

.repo-title {
    line-height: 1;
    margin: 0 0 0.5em;
    font-size: 18px;
}

.repo-description  {
    padding: 0;
    margin: 0 0 10px;
    clear: both;
    color: #8b8e9c;
    font-size: 16px;
}


@media (max-width: 510px){
    .repo-view {
        max-width: 100%;
    }

}
